{% extends 'events/events_list.html' %} {% block details %}
<!--Utiliser la version de production apres-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<section class="admin" id="admin">
    <div class="header">
        <div class="logo-edit">
            <a href="">
                <i class="far fa-edit"></i>
            </a>
        </div>
        <div class="profile">
            <div>
                <h2>{{current_user.first_name}} {{current_user.last_name}}</h2>
                <p>admin</p>
            </div>
            <div
            class="profile-picture"
            style="background-image : url('{{ adherent.picture.url }}')"
            ></div>
        </div>
    </div>
    <div class="content">
        <div class="content-wrapper">
          <div
            class="img"
            style="background-image: url('{{selected.image.url}}')"
          ></div>
          <div class="small">
            <div class="icon">
              <i class="far fa-user-circle"></i>
            </div>
            <p>{{participation.count}} personnes participent</p>
          </div>
          <div class="text">
            <h1>{{ selected.title }}</h1>
            <p>{{ selected.long_description }}</p>
          </div>
          <div class="call-to-action">
            <a href="#"><button>
                <i class="fas fa-check"></i>
            </button></a>
            <a href="#" class="refuse" ><button>
                <i class="fas fa-times"></i>
            </button></a>
            <div class="sub-text">
              <p><strong>{{selected.date_begin|date:"d M Y"}} </strong></p>
              <p>
                {{selected.date_begin|date:"D"}}
                {{selected.date_begin|date:"H:i"}}
              </p>
            </div>
          </div>
        </div>
      </div>
</section>

<script>
    var create_events_app = new Vue({
        el: '#admin',
        delimiters: ['${','}'],
        data: {
            page_index: 1,
        },
    });
</script>
{% endblock details %}


