{% extends 'events/events_list.html' %} {% block details %}
<!--Utiliser la version de production apres-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<section class="admin" id="admin">
    <div class="header">
        <div class="logo-edit">
            <a href="">
                <i class="fas fa-edit"></i>
            </a>
        </div>
        <div class="profile">
            <div>
                <h2>{{current_user.first_name}} test name{{current_user.last_name}}</h2>
                <p>admin</p>
            </div>
            <div
            class="profile-picture"
            style="background-image : url('{{ admin.picture.url }}')"
            ></div>
        </div>
    </div>
</section>

<script>
    var create_events_app = new Vue({
        el: '#admin',
        delimiters: ['${','}'],
        data: {
            page_index: 1,
        },
    });
</script>
{% endblock details %}


